* {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: content-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #0b0014;
}

h1 {
  padding: 10px;
}

h2 {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#movies-section {
  text-align: center;
}

#movies-section-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

#movies-form-wrapper {
  display: flex;
  gap: 10px;
  width: 240px;
  flex-direction: column;
  border-radius: 10px;
  background-color: #4a525a;
  padding: 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

#movies-form-wrapper input,
#movies-form-wrapper select,
#movies-form-wrapper button {
  color: black;
  padding: 5px;
}

#movies button {
  color: black;
  padding: 5px;
}

#movies-list {
  display: flex;
  background-color: #4a525a;
  border-radius: 10px;
  padding: 15px;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 500px;
}

#movies-list li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 240px;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #24272b;
}

#movies {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.chart-wrapper {
  padding: 15px;
  display: flex;
  justify-content: center;
  height: 600px;
}
